<h1>Welcome to Cryptic Post</h1>
<br>
<p>This is a project site that was develpoed in the process of learining Ruby/Rails/Heroku. Please feel free to use this site.
<br>
<br>Note it is unmonitored and no future support is planned.
Thanks for looking!</p>
