<br>
<div class="jumbotron">
  <h1>Crypric Post</h1>
  <p>Crypric Post is a resource for sharing links with your friends!</p>
  <p>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Easy to use</h2>
    <p>Crypric Post is simple and intuitive</p>
  </div>
  <div class="col-md-4">
    <h2>Create and Favorite Posts</h2>
    <p>Crypric Post allows you to favorite posts, this will email you updates so you're always in the know.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Well, not really. Crypric Post isn't majic, but you can talk about ways to look better (by use of majic).</p>
  </div>
</div>
