@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.gravatar {
  margin-top: -14px;
  padding-right: 7px;
}

.minitar {
  margin-top: 0px;
  padding-right: 3px;
}

.nav {
  margin-top: 5px;
}

.favorite {
  float: right;
  text-align: left;
}

.float-right-main {
  width: 50%;
  float:right;
}

.float-right {
  float:right;
}

.float-left {
  width: 50%;
  float:left;
}
